<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorDemo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loggedcounter">
                <span class="oi oi-plus" aria-hidden="true"></span> Logged Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Todos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="navigate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Navigate Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basicreadfromconfig">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Basic Config
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vehicleconfig">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vehicle Config
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mydependency">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dependency Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dependencyerrorhandling">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Error Handling
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
