@page "/todo"
@page "/todos"

<h3>Todo: @todos.Count(todo => !todo.Done) out of @todos.Count()</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.Done" />
            <input type="text" @bind="todo.Title" />
        </li>
    }
</ul>

<input @bind="titleInput" placeholder="Add a todo.." />
<button @onclick="AddTodo">Add</button>


@code {
    private IList<TodoItem> todos = new List<TodoItem>();

    private string titleInput { get; set; }

    private void AddTodo()
    {
        if (string.IsNullOrWhiteSpace(titleInput)) return;

        var newTodo = new TodoItem
        {
            Title = titleInput,
            Done = false
        };

        todos.Add(newTodo);

        // Clear existing input.
        titleInput = string.Empty;
    }
}
